<%
    if @app_instance.app_definition_id.blank?
      json = {
        "mode": "newInstance",
        "organization": current_organization,
        "location": current_location,
        "applications": @applications,
        "loadAppDefinitionUrl": ui_acd_app_path("__id__"),
        "loadForemanDataUrl": ui_acd_fdata_path("__id__"),
        "appDefinition": {
          "id": "",
          "name": "",
        },
      }
    else
      json = {
        "mode": "editInstance",
        "organization": current_organization,
        "location": current_location,
        "loadAppDefinitionUrl": ui_acd_app_path("__id__"),
        "loadForemanDataUrl": ui_acd_fdata_path("__id__"),
        "appDefinition": {
          "id": @app_instance.app_definition.id,
          "name": @app_instance.app_definition.name,
        },
        "hosts": JSON.parse(@app_instance.hosts),
      }
    end
%>

<%= form_for @app_instance, :url => (@app_instance.new_record? ? app_instances_path : app_instance_path(:id => @app_instance.id)) do |f| %>
  <%= base_errors_for @app_instance %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _('Application Instances') %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>
      <%= text_f f, :description %>

      <div id='app_instance'></div>
        <%=  mount_react_component('ApplicationInstance', "#app_instance", json.to_json) %>
      </div>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>

