<%
    if @app_instance.new_record?
      json = {
        "mode": "newInstance",
        "organization": current_organization,
        "location": current_location,
        "applications": @applications,
        "appDefinitionUrl": ui_acd_app_path("__id__"),
        "foremanDataUrl": ui_acd_foreman_data_path("__id__"),
        "ansibleVarsAll": [],
      }
    else
      json = {
        "mode": "editInstance",
        "organization": current_organization,
        "location": current_location,
        "appDefinitionUrl": ui_acd_app_path("__id__"),
        "foremanDataUrl": ui_acd_foreman_data_path("__id__"),
        "appDefinition": {
          "id": @app_instance.app_definition.id,
          "name": @app_instance.app_definition.name,
        },
        "hosts": collect_hosts_data,
        "ansibleVarsAll": @app_instance.ansible_vars_all.blank? ? [] : JSON.parse(@app_instance.ansible_vars_all),
      }
    end
%>

<%= form_for @app_instance, :url => (@app_instance.new_record? ? app_instances_path : app_instance_path(:id => @app_instance.id)) do |f| %>
  <%= base_errors_for @app_instance %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _('Application Instances') %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>
      <%= text_f f, :description %>

      <div id='app_instance'></div>
        <%=  mount_react_component('ApplicationInstance', "#app_instance", json.to_json) %>
      </div>
    </div>
  </div>
  <%= f.hidden_field :organization_id %>
  <%= f.hidden_field :location_id %>
  <%= submit_or_cancel f %>
<% end %>

