<% title _('Application Instances') %>

<% title_actions button_group(new_link(_('New Application Instance'))) %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => s_('AppInstance|Name') %></th>
    <th><%= sort :application, :as => _('Application'), :default => 'DESC' %></th>
    <th><%= _('Description') %></th>
    <th><%= _('Report') %></th>
    <th></th>
  </tr>
  <% for app_instance in @app_instances %>
    <tr>
      <td><%=link_to_if_authorized h(app_instance.name), hash_for_edit_app_instance_path(:id => app_instance) %></td>
      <td><%= app_instance.app_definition %></td>
      <td><%= app_instance.description %></td>
      <td><%= link_to_if((authorized_for(:auth_object => app_instance, :authorizer => authorizer, :permission => :report_app_instances) &&
                         !app_instance.last_deploy_task.nil? && app_instance.last_deploy_task.ended_at?),
                         _("Show Report"),
                         hash_for_report_app_instance_path(:id => app_instance),
                         :method => :get, :title => _("Show last deployment report for application #{app_instance}")) %></td>
      <td>
        <%= action_buttons(
          display_link_if_authorized(_("Deploy"), { :use_route => :app_instances,
                                                    :id => app_instance.id,
                                                    :action => :deploy,
                                                    :auth_object => app_instance,
                                                    :controller => :app_instances },
                                                    {
                                                      :remote => false,
                                                      :href => "#", # don't navigate
                                                      :data => {
                                                        :toggle => "modal",
                                                        :target => "#deploy#{app_instance.id}"
                                                      },
                                                      :title => _("Deploy application #{app_instance}")
                                                    }),
          display_link_if_authorized(_("Run Playbook"),
                                     hash_for_remote_execution_path(:id => app_instance.id),
                                     :method => :post,
                                     :title => _("Run ansible playbook for application #{app_instance}")),
          display_link_if_authorized(_("Run Playbook - customize first"),
                                     hash_for_remote_execution_path(:id => app_instance.id, :customize => true),
                                     :method => :post,
                                     :title => _("Prepare job to run ansible playbook for application #{app_instance}")),
          display_link_if_authorized(_("Delete"), { :use_route => :app_instances,
                                                    :id => app_instance.id,
                                                    :action => :destroy,
                                                    :auth_object => app_instance,
                                                    :controller => :app_instances },
                                                    {
                                                      :remote => false,
                                                      :href => "#", # don't navigate
                                                      :data => {
                                                        :toggle => "modal",
                                                        :target => "#delete#{app_instance.id}"
                                                      },
                                                      :title => _("Delete application #{app_instance}")
                                                    })
          ) %>
    </td>
    </tr>
    <!-- Delete Modal -->
      <div class="modal fade" id="delete<%=app_instance.id%>" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title"><%= _('Confirmation')%></h4>
            </div>
            <div class="modal-body">
              <p> <%= _("Confirm to delete application instance: ") %> <%= app_instance %></p>
              <%= form_tag destroy_with_hosts_app_instance_path(:id => app_instance.id), :method => :delete do %>
                <% showSelectHostsNote = true %>
                <% app_instance.foreman_hosts.select(&:fresh_host?).each do |foreman_host|%>
                  <% if foreman_host.host_id? %>
                    <% if showSelectHostsNote %>
                      <p><%= _("Select the hosts to delete along with ") %> <%= app_instance %>: </p>
                      <% showSelectHostsNote = false %>
                    <% end %>
                      <%= check_box_tag 'foreman_host_ids[]', foreman_host.host_id, false, class: 'acd_host' -%> <%= h foreman_host.host.name -%>
                      </br>
                  <% end %>
                <% end %>
                <hr width="90%">
                <p> <%= check_box_tag "check_all", "", false, { :onchange => "toggleCheckboxesBySelector('.acd_host')" } %> Select / unselect all hosts</p>
                <br /><p><%= _("Note: Hosts which already existed and were added to the application instance are not shown in this dialog!") %></p> 
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal"><%= _('Cancel') %></button>
               <%= submit_tag _("Delete"), name: nil, class: "btn btn-danger" %>
               <% end %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Deploy Modal -->
      <div class="modal fade" id="deploy<%=app_instance.id%>" tabindex="-1" role="dialog" aria-labelledby="deployLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title"><%= _('Confirmation Box') %></h4>
            </div>
            <div class="modal-body">
              <p><%= _('Confirm to deploy ') %><%= app_instance%></p>
              <%= form_tag deploy_app_instance_path(:id => app_instance.id), :method => :post do %>
                <% if app_instance.foreman_hosts.where.not(:host_id => [nil, false]).any? %>
                  <ul>
                  <li><%= check_box_tag 'delete_hosts'-%> <%= _('Delete all hosts before deploying ') %><%= app_instance%></li>
                  <li><%= check_box_tag 'safe_deploy' -%> <%= _('Deploy only new and changed hosts for ') %><%= app_instance%></li>
                  </ul>
                <% end %>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-danger" data-dismiss="modal"><%= _('Cancel') %></button>
               <%= submit_tag _("Submit"), name: nil, class: "btn btn-success" %>
               <% end %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->
  <% end %>
</table>
<%= page_entries_info @app_instances %>
<%= will_paginate @app_instances %>
