<% title _('Application Instances') %>

<% title_actions button_group(new_link(_('New Application Instance'))) %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => s_('AppInstance|Name') %></th>
    <th><%= sort :application, :as => _('Application'), :default => 'DESC' %></th>
    <th><%= _('Description') %></th>
    <th><%= _('Report') %></th>
    <th></th>
  </tr>
  <% for app_instance in @app_instances %>
    <tr>
      <td><%=link_to_if_authorized h(app_instance.name), hash_for_edit_app_instance_path(:id => app_instance).merge(:auth_object => app_instance, :authorizer => authorizer) %></td>
      <td><%= app_instance.app_definition %></td>
      <td><%= app_instance.description %></td>
      <td><%= link_to_if((!app_instance.last_deploy_task.nil? && app_instance.last_deploy_task.ended_at?),
                         _("Show Report"),
                         hash_for_report_app_instance_path(:id => app_instance),
                         :method => :get, :title => _("Show last deployment report for application #{app_instance}")) %></td>
      <td>
        <%= action_buttons(link_to(_("Deploy"), '#', :remote => true, 'data-toggle': "modal", 'data-target': "#deploy#{app_instance}",
                                                        :title => _("Deploy application #{app_instance}")),
                           display_link_if_authorized(_("Run Playbook"), hash_for_remote_execution_path(:id => app_instance), :method => :post,
                                                        :title => _("Run ansible playbook for application #{app_instance}")),
                           display_link_if_authorized(_("Run Playbook - customize first"), hash_for_remote_execution_path(:id => app_instance, :customize => true),
                                                        :method => :post,
                                                        :title => _("Prepare job to run ansible playbook for application #{app_instance}")),
                           link_to(_("Delete"), '#', 'data-toggle': "modal", 'data-target': "#delete#{app_instance}",
                                                        :title => _("Delete application #{app_instance}"))
                           ) %>
      </td>
    </tr>
    <!-- Delete Modal -->
      <div class="modal fade" id="delete<%=app_instance%>" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title"><%= _('Confirmation Box')%></h4>
            </div>
            <div class="modal-body">
              <p> <%= _("Confirm to delete ") %> <%= app_instance %></p>
              <%= form_tag destroy_with_hosts_app_instance_path(:id => app_instance), :method => :delete do %>
                <% app_instance.foreman_hosts.each do |foreman_host|%>
                  <% if foreman_host.host_id? %>
                    <p><%= _("Select the hosts to delete along with ") %> <%= app_instance %>: </p>
                    <%= check_box_tag 'foreman_host_ids[]', foreman_host.host_id -%>
                    <%= h foreman_host.host.name -%>
                  <% end %>
                <% end %>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal"><%= _('Cancel') %></button>
               <%= submit_tag _("Delete"), name: nil, class: "btn btn-danger" %>
               <% end %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Deploy Modal -->
      <div class="modal fade" id="deploy<%=app_instance%>" tabindex="-1" role="dialog" aria-labelledby="deployLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title"><%= _('Confirmation Box') %></h4>
            </div>
            <div class="modal-body">
              <p><%= _('Confirm to deploy ') %><%= app_instance%></p>
              <%= form_tag deploy_app_instance_path(:id => app_instance), :method => :post do %>
                <% if app_instance.foreman_hosts.where.not(:host_id => [nil, false]).any? %>
                  <%= check_box_tag 'delete_hosts'-%><%= _('Delete all hosts before deploying ') %><%= app_instance%>
                <% end %>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-danger" data-dismiss="modal"><%= _('Cancel') %></button>
               <%= submit_tag _("Submit"), name: nil, class: "btn btn-success" %>
               <% end %>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->
  <% end %>
</table>

<%= page_entries_info @app_instances %>
<%= will_paginate @app_instances %>

