<% title _('Application Instances') %>

<% title_actions button_group(new_link(_('New Application Instance'))) %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => s_('AppInstance|Name') %></th>
    <th><%= sort :application, :as => _('Application'), :default => 'DESC' %></th>
    <th><%= _('Description') %></th>
    <th></th>
  </tr>
  <% for app_instance in @app_instances %>
    <tr>
      <td><%=link_to_if_authorized h(app_instance.name), hash_for_edit_app_instance_path(:id => app_instance).merge(:auth_object => app_instance, :authorizer => authorizer) %></td>
      <td><%= app_instance.app_definition %></td>
      <td><%= app_instance.description %></td>
      <td>
        <%= action_buttons(display_link_if_authorized(_("Deploy"), hash_for_deploy_app_instance_path(:id => app_instance), :method => :post,
                                                        :title => _("Deploy application #{app_instance}")),
                           display_link_if_authorized(_("Run Playbook"), hash_for_configure_app_instance_path(:id => app_instance), :method => :post,
                                                        :title => _("Run ansible playbook for application #{app_instance}")),
        display_link_if_authorized(_("Run Playbook - customize first"), hash_for_configure_app_instance_path(:id => app_instance, :customize => true), :method => :post,
                                                        :title => _("Prepare job to run ansible playbook for application #{app_instance}")),
                           display_link_if_authorized(_("Report"), hash_for_report_app_instance_path(:id => app_instance), :method => :get,
                                                        :title => _("Show last deployment report for application #{app_instance}")),
                           display_delete_if_authorized(hash_for_app_instance_path(:id => app_instance).merge(:auth_object => app_instance, :authorizer => authorizer),
                                                        :data => { 'confirm': _('Delete %s?') % app_instance.name })) %>
      </td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @app_instances %>
<%= will_paginate @app_instances %>

