<div id="parameters">
  <table class="table" id="app_parameters_table">
    <thead class="white-header">
    <tr>
      <th class='col-md-4'><%= _("Name") %></th>
      <th class='col-md-7'><%= _("Default Value") %></th>
      <th class='col-md-3'><%= _('Actions') %></th>
    </tr>
    </thead>
    <tbody>
      <%
        parameters_by_type = f.object.send(type)
        params_authorizer = Authorizer.new(User.current, :collection => parameters_by_type)
      %>
      <% authorized_resource_parameters(params_authorizer, parameters_by_type).each do |parameter| %>
        <%= f.fields_for type, parameter do |builder| %>
          <%= render "foreman_appcendep/application_parameters/parameter", :f => builder, :params_authorizer => params_authorizer %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to_add_fields('+ ' + _("Add Parameter"), f, type, "foreman_appcendep/application_parameters/parameter", { :target => '#app_parameters_table tbody', :locals => { :params_authorizer => params_authorizer }})  %>
</div>
