<%= webpacked_plugins_js_for :foreman_acd %>
<%= webpacked_plugins_css_for :foreman_acd %>

<script type="text/javascript">
  function defer() {
    if (tfm.initParameterSelection) {
       tfm.initParameterSelection();
    } else {
       setTimeout(function() { defer() }, 10);
    }
  }
  defer();
</script>

<%
    json = {
      "organization": current_organization,
      "location": current_location,
      "hostgroups": @hostgroups,
      "loadForemanDataUrl": ui_acd_fdata_path("__id__")
    }

    if @app_definition.name.empty?
      json["mode"] = "newDefinition"
    else
      json["mode"] = "editDefinition"
      json["appDefinition"] = {
        "id": @app_definition.id,
        "name": @app_definition.name,
        "hostgroup_id": @app_definition.hostgroup_id,
      }
      json["parameters"] = JSON.parse(@app_definition.parameters)
    end

%>

<%= form_for @app_definition, :url => (@app_definition.new_record? ? app_definitions_path : app_definition_path(:id => @app_definition.id)) do |f| %>
  <%= base_errors_for @app_definition %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _('Application Definitions') %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>
      <%= text_f f, :description %>

      <%= content_tag(:div, '',
                      :id => 'param_selection',
                      'data-json' => json.to_json,
                     ) %>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>
