<%
    json = {
      "organization": current_organization,
      "location": current_location,
      "hostgroups": @hostgroups,
      "loadForemanDataUrl": ui_acd_fdata_path("__id__"),
      "services": [],
    }

    if !@app_definition.name.empty?
      json["services"] = JSON.parse(@app_definition.services)
    end
%>

<%= form_for @app_definition, :url => (@app_definition.new_record? ? app_definitions_path : app_definition_path(:id => @app_definition.id)) do |f| %>
  <%= base_errors_for @app_definition %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _('Application Definitions') %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>
      <%= text_f f, :description %>
      <%= select_f f, :acd_ansible_playbook_id, ForemanAcd::AnsiblePlaybook.all, :id, :name, {}, :label => _("Ansible Playbook") %>

      <div id='app_definition'></div>
      <%=  mount_react_component('ApplicationDefinition', "#app_definition", json.to_json) %>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>
