<%= javascript_include_tag *webpack_asset_paths('foreman_acd', extension: 'js') %>
<%
  json = {
    "organization": current_organization,
    "location": current_location,
    "hostgroups": @hostgroups,
    "foremanDataUrl": ui_acd_foreman_data_path("__id__"),
    "ansibleDataUrl": ui_acd_ansible_data_path("__id__"),
    "services": [],
    "ansibleVarsAll": [],
  }

  if @app_definition.new_record?
    json["mode"] = "newDefinition"
  else
    json["mode"] = "editDefinition"
  end
%>

<% title _('Import Application Definition') %>

<%= form_for @app_definition, :url => (app_definitions_path), :html => { :multipart => true } do |f| %>
  <%= base_errors_for @app_definition %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _('Application Definitions') %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>
      <%= text_f f, :description %>
      <%= react_component('ApplicationDefinitionImport', json,)  %>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>
