<%= webpacked_plugins_js_for :foreman_appcendep %>

<%
    if @app_instance.app_definition_id.blank?
      json = {
        "mode": "newInstance",
        "organization": current_organization,
        "location": current_location,
        "applications": @applications,
        "loadParameterSelectionUrl": ui_appcendep_app_path("__id__"),
        "loadForemanDataUrl": ui_appcendep_fdata_path("__id__"),
      }
    else
      json = {
        "mode": "editInstance",
        "organization": current_organization,
        "location": current_location,
        "appDefinition": {
          "id": @app_instance.app_definition.id,
          "name": @app_instance.app_definition.name,
          "hostgroup_id": @app_instance.app_definition.hostgroup_id,
        },
        "parameters": JSON.parse(@app_instance.parameters),
      }
    end
%>

<%= form_for @app_instance, :url => (@app_instance.new_record? ? app_instances_path : app_instance_path(:id => @app_instance.id)) do |f| %>
  <%= base_errors_for @app_instance %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _('Application Instances') %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>
      <%= text_f f, :description %>

      <div id='param-selection'></div>
        <%=  mount_react_component('ParameterSelection', "#param-selection", json.to_json) %>
      </div>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>

