<%= form_for @app_definition, :url => (@app_definition.new_record? ? app_definitions_path : app_definition_path(:id => @app_definition.id)) do |f| %>
  <%= base_errors_for @app_definition %>
  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _('Application Definitions') %></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name %>
      <%= text_f f, :description %>
      <%= select_f f, :hostgroup_id, accessible_resource(@app_definition, :hostgroup, :title), :id, :to_label,
        { :include_blank => false},
        { :help_inline => :indicator } %>
    </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>

