<% title _('Application Definitions') %>

<% title_actions button_group(new_link(_('New Application Definition'))) %>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= sort :name, :as => s_('AppDefinition|Name') %></th>
    <th><%= _('Description') %></th>
    <th><%= sort :hostgroup, :as => _('Host groups'), :default => 'DESC' %></th>
    <th></th>
  </tr>
  <% for app_definition in @app_definitions %>
    <tr>
      <td><%=link_to_if_authorized h(app_definition.name), hash_for_edit_app_definition_path(:id => app_definition).merge(:auth_object => app_definition, :authorizer => authorizer) %></td>
      <td><%= app_definition.description %></td>
      <td><%= app_definition.hostgroup %></td>
      <td>
          <%= action_buttons(display_delete_if_authorized(hash_for_app_definition_path(:id => app_definition).merge(:auth_object => app_definition, :authorizer => authorizer),
                            :confirm => _('Delete %s?') % app_definition.name)) %>
      </td>
    </tr>
  <% end %>
</table>

<%= page_entries_info @app_definitions %>
<%= will_paginate @app_definitions %>

